.game {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.board {
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
}

.square {
  height: 2rem;
  width: 2rem;
  border: 1px solid #999;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.game-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
