/* Site general */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: #000;
}

body {
  width: 100vw;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr minmax(0, 1024px) 1fr;
}

/* Site navigation bar */

.navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 0.5rem 3rem;
  background-color: #1b1b1b;
}

.overlay {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: #aaa;
  opacity: 0.8;
}

.hidden {
  top: -100%;
}

.navbar a.logo {
  color: #fff;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-right: 2rem;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list li a {
  color: #fff;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 0 1rem;
}

.menu-list li a:hover {
  color: #aaa;
}

.icon {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.cancel-btn {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
}

/* Site banner */

.banner {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  background-color: #777;
}

.heading-container {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin: 24rem 1rem;
  text-align: center;
}

.page-heading,
.page-subheading {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin-bottom: 1rem;
}

.page-heading {
  font-size: 4rem;
  font-weight: 700;
}

.page-subheading {
  font-size: 2rem;
  font-weight: 400;
}

/* Site content */

.content-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: 6rem 1rem;
  display: flex;
  flex-direction: column;
}

/* Site footer */

.footer {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  padding: 8rem 4rem;
  border-top: 1px solid #aaa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.footer-list li {
  margin: 0 1rem;
}

.footer-text {
  font-size: 1.5rem;
}

/* Post index */

.post-preview {
  padding-bottom: 2rem;
  border-bottom: 1px solid #aaa;
  margin-bottom: 2rem;
}

.post-title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.post-subtitle {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.post-meta {
  color: #aaa;
  font-size: 1.5rem;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: italic;
}

.heading-container .post-meta {
  color: #fff;
}

.row-container {
  width: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.blog-nav-btn {
  margin: 2rem 0;
  border: 1px solid black;
  padding: 1rem;
  background-color: #1b1b1b;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.blog-nav-btn:hover {
  color: cyan;
}

/* Post content */

.post-content {
  font-size: 1.2rem;
  font-family: "Lora", serif;
  font-weight: 400;
  line-height: 1.5;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5 {
  margin: 0 0 2rem;
}

.post-content p {
  margin: 0 0 1rem;
}

.post-content a {
  text-decoration: underline;
}

.post-content blockquote {
  border-left: 4px solid #000;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-style: italic;
}

.post-content .codeblock-label {
  display: inline-block;
  background-color: #d0d0d0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.2rem;
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.post-content .language-plaintext.highlighter-rouge {
  margin: 0 0 1rem;
}

.post-content .language-plaintext.highlighter-rouge.labeled {
  margin: 0;
}

.post-content pre {
  line-height: 1.4;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  white-space: pre;
  overflow: auto;
}

.post-content pre.highlight.labeled {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.post-content code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono,
    Menlo, monospace;
  background-color: #f0f0f0;
}

.post-content button.copy-text {
  display: block;
  width: 100%;
  margin: 0 0 1rem;
}

.post-content ol,
.post-content ul {
  list-style-position: outside;
  padding-left: 1.2rem;
}

.post-content li {
  font-size: 1.2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}

.post-content td,
.post-content th {
  padding: 0.5rem 1rem;
  border: 1px solid #000;
}

/* Mobile */

@media (max-width: 1024px) {
  .navbar {
    padding: 1rem 2rem;
  }

  .navbar.sticky {
    padding: 0.25rem 2rem;
  }

  .navbar a.logo {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  body.noScroll {
    overflow: hidden;
  }

  .menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 512px;
    background: #222;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s ease;
  }

  .menu-list.active {
    left: 0%;
  }

  .menu-list li a {
    margin: 0;
    font-size: 1.5rem;
  }

  .icon {
    display: block;
  }

  .icon.display-none {
    display: none;
  }

  .page-heading {
    font-size: 2.5rem;
  }

  .page-subheading {
    font-size: 2rem;
  }

  .post-title {
    font-size: 2rem;
  }

  .post-subtitle {
    font-size: 1.5rem;
  }

  .post-meta {
    font-size: 1.2rem;
  }

  .post-content {
    font-size: 1rem;
    line-height: 1.2;
  }

  .blog-nav-btn {
    font-size: 1.2rem;
  }

  .footer-text {
    font-size: 1.2rem;
  }
}
