<div class="navbar">
  <a href="{{ '/' | relative_url }}" class="logo">{{ site.title | escape }}</a>
  <ul class="menu-list">
    <i class="fa fa-times icon cancel-btn"></i>
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/about' | relative_url }}">About</a></li>
    <li><a href="{{ '/projects' | relative_url }}">Projects</a></li>
    <li><a href="{{ '/blog' | relative_url }}">Blog</a></li>
  </ul>
  <i class="fa fa-bars icon menu-btn"></i>
</div>
<div class="overlay hidden"></div>
