{% extends "base.html" %}
{% block content %}
<div class="header-text">
  <div class="header-title">
    {{ section.title }}
  </div>
</div>
<div class="content">
  {{ section.content | safe }}
  {% for page in section.pages %}
    <div class="page-item">
      <a href="{{ page.permalink | safe }}">
        <div class="page-item-title">
          {{ page.title }}
        </div>
        <div class="page-item-metadata">
          {% if page.updated %}
            {% if page.reading_time == 1 %}
              {{ page.updated | date(format="%b %e, %Y") }} · {{ page.word_count }} words · {{ page.reading_time }} min read
            {% else %}
              {{ page.updated | date(format="%b %e, %Y") }} · {{ page.word_count }} words · {{ page.reading_time }} mins read
            {% endif %}
          {% else %}
            {% if page.reading_time == 1 %}
              {{ page.date | date(format="%b %e, %Y") }} · {{ page.word_count }} words · {{ page.reading_time }} min read
            {% else %}
              {{ page.date | date(format="%b %e, %Y") }} · {{ page.word_count }} words · {{ page.reading_time }} mins read
            {% endif %}
          {% endif %}
        </div>
        <div class="page-item-summary">
          {% if page.summary %}
            {{ page.summary | striptags }}
          {% endif %}
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock content %}
